@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte01:'Passion One', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
header{
    margin: auto;
    text-align: center;
    background: url(../imagens/receita-wallpaper.jpg), center center, no-repeat, fixed;
    background-size: cover;
    
}
header h1{
    color: white;
    padding: 10px;
    font-family: var(--fonte01);
    font-variant:small-caps;
    font-size: 10vh;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
}
div#cabecalho {
    margin: auto;
    min-height: 200px;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.178);
    position: relative;
}
div#comidas1{
    
    max-width: 450px;
    position: absolute;
    left: 10%;
    top: 50%;
    

}
div#comidas2{
    max-width: 450px;
    position: absolute;
    left: 60%;
    top: 50%;
}
.pref{
    padding: 10px;
    color: white;
    list-style-type: none;
    text-decoration: none;
}



    
    
    